<component name="ArtifactManager">
  <artifact type="war" name="SpringBootMybatis:war">
    <output-path>$PROJECT_DIR$/SpringBootMybatis/target</output-path>
    <root id="archive" name="SpringBootMybatis.war">
      <element id="artifact" artifact-name="SpringBootMybatis:war exploded" />
    </root>
  </artifact>
</component>